body {
  margin: 0;
  font-family: "Figtree", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: linear-gradient(180deg, #e66e30, #d84833);
}

.main-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.main-img-container {}

.dishes-list {}

.App-logo {
  width: 150px;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
}

.hero {
  position: relative;
}

.hero-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.logo-wrapper {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);

  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.dishes-list {
  flex: 3;
}

.dishes {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  gap: 15px;
  border-radius: 5px;
}


.dishes img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}


.dishes .info {
  display: flex;
  flex-direction: column;
}


.vegan-label {
  color: green;
  font-weight: bold;
}


.spicy-label {
  font-size: 0.9em;
}

.dishes:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.dishes p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.vegan-label {
  color: green;
  font-weight: bold;
  margin: 5px 0;
}

.spicy-label {
  margin: 5px 0;
  font-weight: bold;
  color: #e74c3c;
  font-size: 16px;
}

.category-title {
  width: 100%;
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  background-color: #ea782f;
}