body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background: linear-gradient(180deg, #e66e30, #d84833);
}

.dishes-list {
    
}

.App-logo {
    width:50px;
}

main {
  display: flex;
  gap: 20px; /* Abstand zwischen Gerichte-Bereich und Sidebar */
  padding: 20px;
}

/* Gerichte-Liste */
.dishes-list {
  flex: 3; /* nimmt mehr Platz ein */
}

/* Einzelnes Gericht */
.dishes {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  gap: 15px; /* Abstand zwischen Bild und Info */
  border-radius: 5px;
}

/* Bild links, klein */
.dishes img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

/* Textinfos rechts */
.dishes .info {
  display: flex;
  flex-direction: column;
}

/* Vegan-Label */
.vegan-label {
  color: green;
  font-weight: bold;
}

/* Spicy-Label */
.spicy-label {
  font-size: 0.9em;
}

.dishes:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


.dishes p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.vegan-label {
    color: green;
    font-weight: bold;
    margin: 5px 0;
}

.spicy-label {
    margin: 5px 0;
    font-weight: bold;
    color: #e74c3c;
    font-size: 16px;
}

.category-title {
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    background-color: #ea782f;
}