body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: orange;
}

.dishes-list {
    
}


.dishes {
    background-color: #fff;     
    border: 1px solid #ccc;     
    border-radius: 10px;         
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
    width: 200px;                
    text-align: center;          
    transition: transform 0.2s, box-shadow 0.2s;
    width: auto;
}


.dishes:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


.dishes p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.vegan-label {
    color: green;
    font-weight: bold;
    margin: 5px 0;
}

.spicy-label {
    margin: 5px 0;
    font-weight: bold;
    color: #e74c3c;
    font-size: 16px;
}

.category-title {
    width: 100%;
    text-align: left;
    margin: 20px 0 10px 10px;
    font-size: 20px;
    color: #2c3e50;
}