.burger {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav {
  display: none;
  margin-top: 1rem;
}

.nav a {
  display: block;
  padding: 0.75rem 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.nav.active {
  display: block;
}

#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

.splash-video {
    width: 100%;
    height: 100vh;
    object-fit: fill; 
}
@media screen and (max-width: 480px) {
    .splash-video {
        display: none;
        object-fit: contain; 
        width: 100%;
        height: 100%;
        background: linear-gradient(347deg,rgba(207, 77, 61, 1) 0%, rgba(227, 98, 50, 1) 50%, rgba(226, 130, 65, 1) 100%);    }
}