.burger {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.nav {
  display: none;
  margin-top: 1rem;
}

.nav a {
  display: block;
  padding: 0.75rem 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.nav.active {
  display: block;
}

#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

/* Video immer Cover, ohne weiße Ränder */
.splash-video {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Video füllt immer den Bildschirm aus */
}

/* Optional: Keine Scrollbars während Splash */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;  /* verhindert Scrollen während Splash */
}

/* Für Mobilgeräte (ab 320px Breite) */
@media screen and (max-width: 480px) {
    .splash-video {
        width: 100%;
        height: 100%;
    }
}