.add-button,
.quantity-button {
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #ea782f;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100px;
}

.add-button:hover,
.quantity-button:hover {
  background-color: #fa6509;
}

#basketItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 290px;    
  overflow-y: auto;
}

.basket-item {
  background-color: burlywood;
  border-radius: 8px;
  padding: 10px;

}

.shopping-basket {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  height: fit-content;
  background-color: rgb(76, 76, 76);
  position: sticky;
  top: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-button {
  padding: 3px 8px;
  cursor: pointer;
  background-color: #ea782f;
  color: white;
  border: none;
  border-radius: 3px;
}

.quantity-button:hover {
  background-color: #fa6509;
}

span {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

button {
  color: white;
  background-color: #e66e30;
  border-radius: 8px;
  border-color: #fa6509;
}

button:hover {
  background-color: #fa6509;

}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(76, 76, 76);
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}