.add-button,
.quantity-button {
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #ea782f;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100px;
}

.add-button:hover,
.quantity-button:hover {
  background-color: #fa6509;
}

#basketItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 290px;
  overflow-y: auto;
}

.basket-item {
  background-color: burlywood;
  border-radius: 8px;
  padding: 10px;

}

.shopping-basket {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  height: fit-content;
  background-color: rgb(76, 76, 76);
  position: sticky;
  top: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-button {
  padding: 3px 8px;
  cursor: pointer;
  background-color: #ea782f;
  color: white;
  border: none;
  border-radius: 3px;
}

.quantity-button:hover {
  background-color: #fa6509;
}

span {
  color: white;
}

h2 {
  color: white;
}

button {
  color: white;
  background-color: #e66e30;
  border-radius: 8px;
  border-color: #fa6509;
}

button:hover {
  background-color: #fa6509;

}

#totalPrice {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(76, 76, 76);
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  #basket {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;


    border-radius: 16px 16px 0 0;

    z-index: 1100;
    overflow-y: auto;
    background-color: rgb(76, 76, 76);

    opacity: 0;
    pointer-events: none;


    margin: 0;
    padding: 0;
  }

  aside {
    padding: 0;
    margin: 0;
  }

  #basket.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }


  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: #4c4c4c;
    z-index: 1200;
  }

  .basket-footer-btn {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    border-radius: 0;
    border: none;
    background-color: #4c4c4c;
    color: white;
  }

  main {
    padding-bottom: 50px;
  }

  .burger {
    display: none;
  }

}

@media (min-width: 500px) {
  .basket-footer-btn {
    display: none;
  }
}